*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=radio],
input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

input[type=date],
input[type=time],
input[type=datetime-local],
input[type=month] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1, .h1 {
  font-size: 2.5rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

body {
  width: 100%;
  font-family: "Kaushan Script", cursive "Montserrat", sans-serif "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
  line-height: 1;
}

.container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.l-header .owl-carousel {
  position: relative;
}
.l-header .owl-carousel .background1 {
  background-image: url(../img/banner-header.png);
}
.l-header .owl-carousel .background2 {
  background-image: url(../img/header-img2.jpg);
}
.l-header .owl-carousel .background3 {
  background-image: url(../img/header-img3.jpg);
}
.l-header .owl-carousel .background4 {
  background-image: url(../img/header-img4.jpg);
}
.l-header .owl-carousel .item {
  background-position: center;
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 1000px;
}
.l-header .owl-carousel .owl-dots {
  position: absolute;
}
.l-header .owl-carousel .owl-dots span {
  z-index: 99;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: white;
}
.l-header .l-header__content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
}
.l-header .l-header__content .header__nav {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-header .l-header__content .header__nav .nav__menu--pc {
  display: flex;
  justify-content: space-between;
  width: 55%;
  align-items: center;
}
.l-header .l-header__content .header__nav .nav__menu--pc a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  transition: 1s;
}
.l-header .l-header__content .header__nav .nav__menu--pc a:hover {
  padding-bottom: 7px;
  color: #fce38a;
  border-bottom: 2px solid #fce38a;
}
.l-header .l-header__content .header__nav .nav__menu--sp {
  display: none;
}
.l-header .l-header__content .header__center {
  padding: 165px 0 0px 0;
  text-align: center;
}
.l-header .l-header__content .header__center .header__title1 {
  font-weight: bold;
  font-size: 72px;
  font-family: "Kaushan Script";
  color: white;
  line-height: 1;
  padding-bottom: 40px;
}
.l-header .l-header__content .header__center .header__title2 {
  font-weight: bold;
  font-size: 150px;
  color: white;
  font-family: "Montserrat";
  text-transform: uppercase;
  line-height: 140px;
  padding-bottom: 70px;
}
.l-header .l-header__content .header__center .break-white {
  height: 3px;
  width: 60px;
  background-color: white;
  margin: 0 auto;
}
.l-header .l-header__content .header__link {
  padding: 12px 30px;
  border: 3px solid white;
  text-decoration: none;
  font-weight: bold;
  color: white;
  display: inline-block;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 50px;
}
.l-header .l-header__content .header__bottom {
  margin-top: 155px;
  display: flex;
  text-align: left;
  justify-content: space-between;
  padding-bottom: 23px;
}
.l-header .l-header__content .header__bottom .item {
  width: 23%;
}
.l-header .l-header__content .header__bottom .item .item__run-line {
  width: 100%;
  background-color: white;
  height: 3px;
  margin-bottom: 10px;
}
.l-header .l-header__content .header__bottom .item .item__content {
  color: white;
}
.l-header .l-header__content .header__bottom .item .item__content .item__content--number {
  font-weight: bold;
  font-size: 24px;
}
.l-header .l-header__content .header__bottom .item .item__content .item__content--text {
  font-size: 22px;
}
.l-header .owl-nav {
  display: none;
}

@media screen and (max-width: 767px) {
  .l-header .owl-carousel .item {
    height: 465px;
  }
  .l-header .l-header__content .header__nav {
    padding-top: 15px;
  }
  .l-header .l-header__content .header__nav .nav__menu--pc {
    display: none;
  }
  .l-header .l-header__content .header__nav .nav__menu--sp {
    display: block;
  }
  .l-header .l-header__content .header__center {
    padding-top: 70px;
  }
  .l-header .l-header__content .header__center .header__title1 {
    font-size: 25px;
    line-height: 1;
    padding-bottom: 20px;
  }
  .l-header .l-header__content .header__center .header__title2 {
    font-size: 50px;
    font-family: "Montserrat";
    line-height: 50px;
    padding-bottom: 35px;
  }
  .l-header .l-header__content .header__center .break-white {
    height: 2px;
    width: 30px;
  }
  .l-header .l-header__content .header__link {
    padding: 6px 15px;
    border: 2px solid white;
    font-size: 12px;
    margin-top: 25px;
  }
  .l-header .l-header__content .header__bottom {
    margin-top: 70px;
    padding-bottom: 15px;
  }
  .l-header .l-header__content .header__bottom .item .item__run-line {
    height: 2px;
  }
  .l-header .l-header__content .header__bottom .item .item__content .item__content--number {
    font-size: 14px;
  }
  .l-header .l-header__content .header__bottom .item .item__content .item__content--text {
    font-size: 12px;
  }
}
.l-story-about-us {
  padding: 90px 0 105px 0;
  text-align: center;
}
.l-story-about-us .l-story-about-us__content .list-imgs {
  display: flex;
  justify-content: space-between;
}
.l-story-about-us .l-story-about-us__content .list-imgs .list-imgs__img {
  width: 32%;
  position: relative;
}
.l-story-about-us .l-story-about-us__content .list-imgs .list-imgs__img img {
  width: 100%;
}
.l-story-about-us .l-story-about-us__content .list-imgs .wwd-hover1 {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.l-story-about-us .l-story-about-us__content .list-imgs .list-imgs__img:hover .wwd-hover1 {
  opacity: 1;
  top: -10px;
  left: -10px;
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
  -moz-box-shadow: 10px 10px 0px 0px #95e1d3;
  box-shadow: 10px 10px 0px 0px #95e1d3;
}
.l-story-about-us .l-story-about-us__content .list-imgs .list-imgs__img:hover .wwd-hover2 {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .l-story-about-us {
    padding: 45px 0 50px 0;
  }
}
.main-title {
  text-align: center;
}
.main-title .main-title1 {
  font-size: 24px;
  color: #333333;
  font-family: "Kaushan Script";
  padding-bottom: 25px;
}
.main-title .main-title2 {
  color: #333333;
  font-size: 30px;
  font-family: "Montserrat";
  font-weight: bold;
  padding-bottom: 40px;
  text-transform: uppercase;
}
.main-title .red-line {
  width: 60px;
  height: 3px;
  background-color: crimson;
  margin: 0 auto;
  display: block;
}

@media screen and (max-width: 767px) {
  .main-title .main-title1 {
    font-size: 15px;
    padding-bottom: 15px;
  }
  .main-title .main-title2 {
    font-size: 18px;
    padding-bottom: 20px;
  }
  .main-title .red-line {
    width: 30px;
    height: 2px;
  }
}
.main-text {
  padding-top: 45px;
  padding-bottom: 90px;
}
.main-text .text-content {
  color: #999999;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 767px) {
  .main-text {
    padding-top: 20px;
    padding-bottom: 35px;
  }
  .main-text .text-content {
    font-size: 10px;
    line-height: 14px;
  }
}
.l-list-numbers {
  background-color: #95e1d3;
}
.l-list-numbers .l-list-numbers__content {
  display: flex;
}
.l-list-numbers .l-list-numbers__content.l-list-numbers__content:nth-child(1) {
  border-left: 1px solid #b5eae0;
}
.l-list-numbers .l-list-numbers__content .item__content {
  width: 20%;
  text-align: center;
  padding: 80px 0;
  border-right: 1px solid #b5eae0;
}
.l-list-numbers .l-list-numbers__content .item__content .item__content--number {
  color: white;
  font-weight: bold;
  font-size: 72px;
}
.l-list-numbers .l-list-numbers__content .item__content .item__content--text {
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding-top: 25px;
  font-family: "Montserrat";
}

@media screen and (max-width: 767px) {
  .l-list-numbers .l-list-numbers__content {
    display: flex;
  }
  .l-list-numbers .l-list-numbers__content.l-list-numbers__content:nth-child(1) {
    border-left: 1px solid #b5eae0;
  }
  .l-list-numbers .l-list-numbers__content .item__content {
    padding: 15px 0;
    border-right: 1px solid #b5eae0;
  }
  .l-list-numbers .l-list-numbers__content .item__content .item__content--number {
    font-size: 31px;
  }
  .l-list-numbers .l-list-numbers__content .item__content .item__content--text {
    font-size: 7px;
    padding-top: 5px;
  }
}
.l-amazing-service {
  padding: 105px 0;
}
.l-amazing-service .list-services {
  padding-top: 65px;
}
.l-amazing-service .list-services .list-services__line {
  display: flex;
  justify-content: space-between;
}
.l-amazing-service .list-services .list-services__line .item {
  width: 30%;
  display: flex;
  align-items: flex-start;
}
.l-amazing-service .list-services .list-services__line .item .item__content {
  text-align: start;
  padding-left: 25px;
}
.l-amazing-service .list-services .list-services__line .item .item__content .item-content__title {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.l-amazing-service .list-services .list-services__line .item .item__content .item-content__text {
  color: #999999;
}
.l-amazing-service .list-services .list-services__line1 {
  padding-bottom: 55px;
  border-bottom: 1px solid #e5e5e5;
}
.l-amazing-service .list-services .list-services__line2 {
  padding-top: 55px;
}

@media screen and (max-width: 767px) {
  .l-amazing-service {
    padding: 50px 0px;
  }
  .l-amazing-service .l-amazing-service__content .list-services {
    padding-top: 30px;
  }
  .l-amazing-service .l-amazing-service__content .list-services .list-services__line .item .item__content {
    padding-left: 10px;
  }
  .l-amazing-service .l-amazing-service__content .list-services .list-services__line .item .item__content .item-content__title {
    font-size: 9px;
    padding-bottom: 5px;
  }
  .l-amazing-service .l-amazing-service__content .list-services .list-services__line .item .item__content .item-content__text {
    font-size: 9px;
    text-align: left;
  }
  .l-amazing-service .l-amazing-service__content .list-services .list-services__line1 {
    padding-bottom: 20px;
  }
  .l-amazing-service .l-amazing-service__content .list-services .list-services__line2 {
    padding-top: 20px;
  }
}
.l-what-we-do .what-we-do-content__bottom {
  display: flex;
  justify-content: space-between;
}
.l-what-we-do .what-we-do-content__bottom .bottom__left {
  width: 48%;
}
.l-what-we-do .what-we-do-content__bottom .bottom__left img {
  width: 100%;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right {
  width: 48%;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 2s;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items .item {
  margin-bottom: 2px;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items .item .title__text {
  overflow: hidden;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items .title--hover {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items .title--hover .btn-wwd {
  margin: 0 10px;
  cursor: pointer;
  transform: rotate(180deg);
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items .title--hover .btn-wwd.active {
  transform: none;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items .title--hover:hover {
  background-color: #f3ecec;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .items .item__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  padding-left: 15px;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__photography {
  border: 1px solid #eeeeee;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__photography .photography-top {
  padding: 15px 0 15px 15px;
  border-bottom: 1px solid #eeeeee;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__photography .photography__text {
  padding: 15px 0 5px 15px;
  color: #999999;
  display: none;
  width: 95%;
  text-align: justify;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__photography .photography__text.active {
  display: block;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__creativity {
  border: 1px solid #eeeeee;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__creativity .creativity-top {
  padding: 15px 0 15px 15px;
  border-bottom: 1px solid #eeeeee;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__creativity .creativity__text {
  padding: 15px 0 5px 15px;
  color: #999999;
  display: none;
  width: 95%;
  text-align: justify;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__creativity .creativity__text.active {
  display: block;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__web-design {
  border: 1px solid #eeeeee;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__web-design .web-design-top {
  padding: 15px 0 15px 15px;
  border-bottom: 1px solid #eeeeee;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__web-design .web-design__text {
  padding: 15px 0 5px 15px;
  color: #999999;
  display: none;
  width: 95%;
  text-align: justify;
}
.l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__web-design .web-design__text.active {
  display: block;
}

@media screen and (max-width: 767px) {
  .l-what-we-do .what-we-do-content__bottom {
    display: block;
    justify-content: space-between;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__left {
    width: 100%;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__left img {
    width: 100%;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right {
    width: 100%;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .items {
    display: flex;
    flex-direction: column;
    transition: 2s;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .items .item__title {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding-left: 10px;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__photography {
    margin-bottom: 5px;
    border: 1px solid #eeeeee;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__photography .photography-top {
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #eeeeee;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__photography .photography__text {
    padding: 15px;
    color: #999999;
    font-size: 9px;
    text-align: justify;
    width: 100%;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__creativity {
    margin-bottom: 5px;
    border: 1px solid #eeeeee;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__creativity .creativity-top {
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #eeeeee;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__creativity .creativity__text {
    padding: 15px;
    color: #999999;
    font-size: 9px;
    text-align: justify;
    width: 100%;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__web-design {
    margin-bottom: 5px;
    border: 1px solid #eeeeee;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__web-design .web-design-top {
    padding: 5px 0 5px 5px;
    border-bottom: 1px solid #eeeeee;
  }
  .l-what-we-do .what-we-do-content__bottom .bottom__right .bottom-right__web-design .web-design__text {
    padding: 15px;
    color: #999999;
    font-size: 9px;
    text-align: justify;
    width: 100%;
  }
}
.c-note {
  padding: 70px 0;
  margin: 120px 0 95px 0;
  background-color: #f8f8f8;
}
.c-note .c-note__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.c-note .c-note__content .c-note__img {
  width: 17%;
}
.c-note .c-note__content .c-note__muiten-left {
  transform: rotate(270deg);
}
.c-note .c-note__content .c-note__muiten-right {
  transform: rotate(90deg);
}
.c-note .c-note__content .muiten {
  cursor: pointer;
}
.c-note .c-note__content .c-note__text {
  display: flex;
  flex-direction: column;
  color: #999999;
  width: 60%;
}
.c-note .c-note__content .c-note__text .text {
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}
.c-note .c-note__content .c-note__text .sign {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.c-note .c-note__content .c-note__text .sign .red-line {
  width: 60px;
  height: 3px;
  background-color: crimson;
  display: inline-block;
}
.c-note .c-note__content .c-note__text .sign .sign-content {
  color: #333333;
  font-size: 24px;
  font-family: "Kaushan Script", cursive;
  padding-left: 10px;
}

@media screen and (max-width: 767px) {
  .c-note {
    padding: 20px 0;
    margin: 20px 0 40px 0;
    background-color: #f8f8f8;
  }
  .c-note .c-note__content {
    align-items: center;
    display: flex;
  }
  .c-note .c-note__content .c-note__img {
    width: 35%;
  }
  .c-note .c-note__content .c-note__text {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    color: #999999;
  }
  .c-note .c-note__content .c-note__text .text {
    font-size: 10px;
    line-height: 11px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    text-align: justify;
  }
  .c-note .c-note__content .c-note__text .sign {
    display: flex;
    align-items: center;
    padding-top: 5px;
  }
  .c-note .c-note__content .c-note__text .sign .red-line {
    width: 30px;
    height: 2px;
    background-color: crimson;
    display: inline-block;
  }
  .c-note .c-note__content .c-note__text .sign .sign-content {
    color: #333333;
    font-size: 10px;
    font-family: "Kaushan Script", cursive;
    padding-left: 5px;
  }
}
.l-meet-our-team .l-meet-our-team__content .list-imgs {
  display: flex;
  justify-content: space-between;
  padding-bottom: 120px;
}
.l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people {
  width: 32%;
  text-align: center;
  position: relative;
}
.l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people img {
  width: 100%;
}
.l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .meet-our-team__img--hover {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .meet-our-team__img--hover:hover {
  opacity: 0.9;
  top: -10px;
  left: -10px;
  -webkit-box-shadow: 10px 10px 0px 0px #95e1d3;
  -moz-box-shadow: 10px 10px 0px 0px #95e1d3;
  box-shadow: 10px 10px 0px 0px #95e1d3;
}
.l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .people__content {
  padding-top: 30px;
}
.l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .people__content .people__content--name {
  display: block;
  padding-bottom: 15px;
  color: #333333;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .people__content .people__content--job {
  color: #999999;
  font-style: italic;
}

@media screen and (max-width: 767px) {
  .l-meet-our-team .l-meet-our-team__content .list-imgs {
    padding-bottom: 50px;
  }
  .l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .people__content {
    padding-top: 10px;
  }
  .l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .people__content .people__content--name {
    padding-bottom: 5px;
    font-size: 10px;
  }
  .l-meet-our-team .l-meet-our-team__content .list-imgs .list-img__people .people__content .people__content--job {
    font-size: 8px;
  }
}
.l-list-logos {
  margin-bottom: 95px;
  padding: 60px 0;
  background-color: #f8f8f8;
}
.l-list-logos .l-list-logos__content img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .l-list-logos {
    margin-bottom: 40px;
    padding: 30px 0;
  }
}
.l-some-of-our-work .some-of-our-work__list-imgs {
  display: flex;
  width: 100%;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__left {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__left .left-img {
  position: relative;
  width: 50%;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__left .left-img img {
  width: 100%;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__left .left-img .some-of-our-work__hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__left .left-img:hover .some-of-our-work__hover {
  opacity: 1;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right {
  width: 50%;
  display: flex;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right .list-imgs__right--left {
  width: 50%;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right .list-imgs__right--left img {
  width: 100%;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right .list-imgs__right--right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right .list-imgs__right--right .right-img {
  position: relative;
  width: 100%;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right .list-imgs__right--right .right-img img {
  width: 100%;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right .list-imgs__right--right .right-img .some-of-our-work__hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.l-some-of-our-work .some-of-our-work__list-imgs .list-imgs__right .list-imgs__right--right .right-img:hover .some-of-our-work__hover {
  opacity: 1;
}

.l-happy-clients {
  background-image: url(../img/happy-clients-bg.png);
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}
.l-happy-clients .l-happy-clients__content {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
  padding-bottom: 110px;
}
.l-happy-clients .l-happy-clients__content .list-peoples {
  padding-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people {
  height: 150%;
  width: 45%;
  display: flex;
  align-items: flex-start;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people img {
  width: 30%;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail {
  padding-left: 40px;
  display: flex;
  flex-direction: column;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail span {
  display: block;
  margin-bottom: 15px;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail .people__detail--name {
  color: #333333;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail .people__detail--job {
  color: #999999;
  font-style: italic;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail .people__detail--red-line {
  width: 60px;
  height: 3px;
  background-color: crimson;
}
.l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail .people__detail--about {
  color: #999999;
  font-size: 15px;
  line-height: 24px;
}

@media screen and (max-width: 767px) {
  .l-happy-clients {
    padding-bottom: 0;
  }
  .l-happy-clients .l-happy-clients__content {
    padding: 50px 0 30px 0;
  }
  .l-happy-clients .l-happy-clients__content .list-peoples {
    padding-top: 20px;
  }
  .l-happy-clients .l-happy-clients__content .list-peoples .people {
    width: 100%;
  }
  .l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail {
    padding: 10px;
  }
  .l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail .people__detail--name {
    font-size: 12px;
  }
  .l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail .people__detail--job {
    font-size: 10px;
  }
  .l-happy-clients .l-happy-clients__content .list-peoples .people .people__detail .people__detail--about {
    text-align: justify;
    font-size: 12px;
    line-height: 12px;
  }
}
.l-latest-blog {
  padding-top: 110px;
}
.l-latest-blog .items {
  padding-top: 45px;
  display: flex;
  justify-content: space-between;
}
.l-latest-blog .items .item {
  width: 32%;
  position: relative;
}
.l-latest-blog .items .item .item__img {
  width: 100%;
}
.l-latest-blog .items .item .item__img--mask {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.l-latest-blog .items .item .item__img--mask:hover {
  opacity: 1;
}
.l-latest-blog .items .item .item__content {
  padding: 15px 0;
  border-bottom: 1px solid #e5e5e5;
}
.l-latest-blog .items .item .item__content .item__content--title {
  display: block;
  color: #333333;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 14px;
  padding-bottom: 15px;
}
.l-latest-blog .items .item .item__content .item__content--text {
  color: #999999;
  line-height: 24px;
}
.l-latest-blog .items .item .item__inner {
  color: #999999;
  display: flex;
  align-items: center;
  padding-top: 18px;
}
.l-latest-blog .items .item .item__inner .inner__view {
  margin-left: 8px;
  margin-right: 15px;
}
.l-latest-blog .items .item .item__inner .inner__comment {
  margin-left: 8px;
}
.l-latest-blog .items .item .item__calendar {
  display: inline-block;
  text-align: center;
  padding: 14px;
  background-color: #95e1d3;
  position: absolute;
  transform: translateY(-60%);
  top: 50%;
  left: -3%;
}
.l-latest-blog .items .item .item__calendar span {
  display: block;
}
.l-latest-blog .items .item .item__calendar .calendar__date {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.l-latest-blog .items .item .item__calendar .calendar__month {
  color: #999999;
  font-style: italic;
  padding-top: 5px;
}

@media screen and (max-width: 767px) {
  .l-latest-blog {
    padding-top: 50px;
  }
  .l-latest-blog .l-latest-blog__content .items {
    padding-top: 20px;
    display: block;
  }
  .l-latest-blog .l-latest-blog__content .items .item {
    width: 100%;
    padding-bottom: 20px;
  }
  .l-latest-blog .l-latest-blog__content .items .item .item__content {
    padding: 10px 0;
    border: 0;
  }
  .l-latest-blog .l-latest-blog__content .items .item .item__content .item__content--title {
    font-size: 12px;
    padding-bottom: 5px;
  }
  .l-latest-blog .l-latest-blog__content .items .item .item__content .item__content--text {
    font-size: 12px;
    line-height: 15px;
  }
  .l-latest-blog .l-latest-blog__content .items .item .item__inner {
    padding: 0;
    font-size: 12px;
  }
}
.l-open-map {
  background-image: url(../img/open-map-bg.png);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
  margin-top: 120px;
}
.l-open-map .l-open-map__content {
  padding: 55px 0;
}
.l-open-map .l-open-map__content .l-open-map__title {
  display: block;
  text-transform: uppercase;
  color: #f38181;
  font-style: 24px;
  font-weight: bold;
  padding: 15px 0;
  font-size: 25px;
}
.l-open-map .l-open-map__content .red-line {
  background-color: #f38181;
  width: 60px;
  height: 3px;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .l-open-map {
    margin: 20px 0;
  }
  .l-open-map .l-open-map__content {
    padding: 30px 0;
  }
  .l-open-map .l-open-map__content .l-open-map__title {
    font-size: 12px;
  }
}
.l-footer {
  padding-top: 80px;
}
.l-footer .l-footer__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
}
.l-footer .l-footer__content .l-footer__mogo {
  width: 40%;
}
.l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--text {
  color: #999999;
  padding: 50px 0;
  font-size: 15px;
  line-height: 24px;
  text-align: justify;
}
.l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--followers {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5;
}
.l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--followers .number {
  font-weight: bold;
  font-size: 20px;
  padding-right: 5px;
}
.l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--follow-us {
  padding-top: 15px;
  padding-bottom: 35px;
  display: flex;
}
.l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--follow-us span {
  color: #999999;
  font-style: italic;
  font-size: 15px;
  padding-right: 20px;
}
.l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--follow-us .follow-us__group-icons {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: space-between;
}
.l-footer .l-footer__content .l-footer__mogo .mogo__subcribe {
  display: flex;
}
.l-footer .l-footer__content .l-footer__mogo .mogo__subcribe .subcribe__link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  background-color: #95e1d3;
  padding: 15px 35px;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
.l-footer .l-footer__content .l-footer__mogo .mogo__subcribe input {
  width: 50%;
}
.l-footer .l-footer__content .l-footer__blogs {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.l-footer .l-footer__content .l-footer__blogs .l-footer__blogs--title {
  font-size: 20px;
  text-transform: uppercase;
}
.l-footer .l-footer__content .l-footer__blogs .blogs__item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.l-footer .l-footer__content .l-footer__blogs .blogs__item img {
  width: 40%;
}
.l-footer .l-footer__content .l-footer__blogs .blogs__item .blogs__item--hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: 1s;
  opacity: 0;
}
.l-footer .l-footer__content .l-footer__blogs .blogs__item .item__content {
  width: 55%;
}
.l-footer .l-footer__content .l-footer__blogs .blogs__item .item__content .item__link {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #333333;
  display: inline-block;
  padding-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
}
.l-footer .l-footer__content .l-footer__blogs .blogs__item .item__content .item__date {
  color: #999999;
  font-style: italic;
}
.l-footer .l-footer__content .l-footer__blogs .blogs__item:hover .blogs__item--hover {
  opacity: 0.7;
}
.l-footer .l-footer__content .l-footer__instagram {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.l-footer .l-footer__content .l-footer__instagram .l-footer__instagram--title {
  font-size: 20px;
  text-transform: uppercase;
}
.l-footer .l-footer__content .l-footer__instagram .instagram__group-img {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.l-footer .l-footer__content .l-footer__instagram .instagram__group-img .instagram__img {
  width: 33%;
  margin-bottom: 2px;
  position: relative;
}
.l-footer .l-footer__content .l-footer__instagram .instagram__group-img .instagram__img img {
  width: 100%;
}
.l-footer .l-footer__content .l-footer__instagram .instagram__group-img .instagram__img .instagram__hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 1s;
}
.l-footer .l-footer__content .l-footer__instagram .instagram__group-img .instagram__img:hover .instagram__hover {
  opacity: 0.7;
}
.l-footer .l-footer__content .l-footer__instagram .instagram__note {
  color: #999999;
  font-style: italic;
}
.l-footer .l-footer__done {
  border-top: 2px solid #e5e5e5;
  text-align: center;
}
.l-footer .l-footer__done .done__text {
  padding: 25px 0;
}

@media screen and (max-width: 767px) {
  .l-footer {
    padding-top: 30px;
  }
  .l-footer .l-footer__content {
    display: block;
    padding-bottom: 0;
  }
  .l-footer .l-footer__content .l-footer__mogo {
    width: 100%;
    text-align: center;
  }
  .l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--text {
    font-size: 12px;
    line-height: 18px;
    padding: 15px 0 10px 0;
  }
  .l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--followers {
    padding: 0 auto;
    border: 0;
    text-align: right;
  }
  .l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--follow-us {
    border: 1px solid #e5e5e5;
    font-size: 12px;
    padding: 15px 0;
    margin-bottom: 10px;
  }
  .l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--follow-us .folow-text {
    padding: 0 5px;
  }
  .l-footer .l-footer__content .l-footer__mogo .l-footer__mogo--follow-us .follow-us__group-icons {
    width: 70%;
  }
  .l-footer .l-footer__content .l-footer__mogo .mogo__subcribe input {
    width: 60%;
  }
  .l-footer .l-footer__content .l-footer__mogo .mogo__subcribe .subcribe__link {
    width: 40%;
    text-align: center;
    font-size: 12px;
  }
  .l-footer .l-footer__content .l-footer__blogs {
    padding: 30px 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
  }
  .l-footer .l-footer__content .l-footer__blogs .l-footer__blogs--title {
    width: 100%;
    padding-bottom: 15px;
  }
  .l-footer .l-footer__content .l-footer__blogs .blogs__item {
    width: 33%;
    display: block;
  }
  .l-footer .l-footer__content .l-footer__blogs .blogs__item img {
    width: 100%;
  }
  .l-footer .l-footer__content .l-footer__blogs .blogs__item .item__content {
    width: 100%;
  }
  .l-footer .l-footer__content .l-footer__blogs .blogs__item .item__content .item__link {
    padding: 5px 0;
    font-size: 10px;
    display: block;
    text-align: center;
    width: 100%;
  }
  .l-footer .l-footer__content .l-footer__blogs .blogs__item .item__content .item__date {
    font-size: 10px;
  }
  .l-footer .l-footer__content .l-footer__instagram {
    width: 100%;
    text-align: center;
  }
  .l-footer .l-footer__content .l-footer__instagram .l-footer__instagram--title {
    padding-bottom: 20px;
  }
  .l-footer .l-footer__content .l-footer__instagram .instagram__group-img {
    padding-bottom: 5px;
  }
  .l-footer .l-footer__content .l-footer__instagram .instagram__group-img .instagram__img {
    width: 33%;
  }
  .l-footer .l-footer__content .l-footer__instagram .instagram__group-img .instagram__img img {
    width: 100%;
  }
  .l-footer .l-footer__content .l-footer__instagram .instagram__link {
    padding: 10px 0;
    font-size: 10px;
  }
  .l-footer .l-footer__done .done__text {
    padding: 15px 0;
    font-size: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
