.l-open-map{
    background-image: url(../img/open-map-bg.png);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    text-align: center;
    margin-top: 120px;
    .l-open-map__content{
        padding: 55px 0;
        .l-open-map__title{
            display: block;
            text-transform: uppercase;
            color: #f38181;
            font-style: 24px;
            font-weight: bold;
            padding: 15px 0;
            font-size: 25px;
        }
        .red-line{
            background-color: rgb( 243, 129, 129 );
            width: 60px;
            height: 3px;
            display: block;
            margin: 0 auto;      
        }
    }
}
@include SP{
    .l-open-map{
        margin: 20px 0;
        .l-open-map__content{
            padding: 30px 0;
            .l-open-map__title{
                font-size: 12px;
            }
        }
    }
}